<hgroup>
	<style type="text/css"> 
    div#logo{
      float: left;
      margin-top: 0.58em;
      font-size: 1.9em;
      color: #f9f9f9;
    }
    div#logoText{
		float: left;
      color: #f1f1f1;
      letter-spacing: 1px;
      margin: -1px 0 0 -6px;
    }
    div#logoRight{
		float: left;
      margin-left: -6px;
    }
    div#logoLeft, #logoRight{
		float: left;
      color: #1b88ff;
      font-family: "Courier New", Courier, monospace;
      font-weight: normal;
      font-size: 1.2em;
      margin-left: -8px;
    }
	</style> 
  <div id="logo">
  	<div id="logoLeft">do{</div>
  	<div id="logoText">
	    <img src="/favicon.png" width="30px" height="30px">
	</div>
  	<div id="logoRight">}</div>
  	<div class="clear"></div>
  </div>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
  <div class="clear"></div>
</hgroup>
